.nav-item .active {
    background-color: #8369cf;
    color: white;
}

.nav-item .active:hover {
    color: white!important;
}

.projectpic-size {
    width: calc(100% - 8px);
    height: calc(100% - 7px);
}
